@{
  Layout = "_Layout";
}
<div class="container">


<div class="jumbotron">
  <h1>Enter a date to get the day of week!</h1>
</div>

<form action="/weekday" method="post">
  <div class="form-group">
  <label for="date">Choose a date</label>
  <input type="date" name="date" value="">
  <br>
  <button type="submit" class="btn-primary">Submit</button>
  </div>
</form>

</div>
