@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <h1>Day of the week</h1>
  </div>


  <h2>Your day of the week is: @Model.GetDayOfWeek()</h2>

  <a href="/"><button type="button" class="btn-primary">Go back</button></a>
</div>
